h3.contactTitle{
	border: 1px solid black;
	background-color: #87E02C;
	margin-top: 0;
}

h5.contactFormTitle{
	text-align: center;
}

#userEmail, #emailSubject{
	width: 500px;
}
#emailMessage{
	min-height: 200px;
	min-width: 500px;
	max-height: 200px;
	max-width: 500px;
	resize: none;
}
th, td{
	width: 200px;
}
td.emailAdressInfo{
	width: 400px;
}