#mainMenu{
	background-color: #2C9AC9;
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 2px solid #125F80;
}

#mainContainer{
	position: fixed;
	height: calc(100% - 50px);
	width: 100%;
	top: 50px;
	overflow: auto;
}

a.thread
{
	text-decoration: none;
	color: #2C9AC9;
}

a.thread:hover
{
	text-decoration: underline;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    /*border-radius: 6px;*/
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}