#mainMenu{
	background-color: #2C9AC9;
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 2px solid #125F80;
}

#mainContainer{
	position: fixed;
	height: calc(100% - 50px);
	width: 100%;
	top: 50px;
	overflow: auto;
}

a.thread
{
	text-decoration: none;
	color: #2C9AC9;
}

a.thread:hover
{
	text-decoration: underline;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.w3-button, .w3-btn{
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:focus, .w3-button:focus, .w3-btn:focus{
    outline: 0;
}